:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 80vh;
}
button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border: 1px solid #213547;
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: #213547;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}